/* CSS stylesheet  for application */

* {
    font-family: 'Titillium Web', Times, serif;
}

table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding:15px;
}

th, td {
    border: 1px solid silver;
    padding:15px;
}

.container-faq {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#info-box-faq {
    background-color: #a6a6a6;
    width: 450px;
    height: 200px;
    padding: 5px;
}

.div-around-accordion {
    width: 50%;
    margin-right: 30px;
}

.container-valg-af-carport {
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: auto;
}

#choose-carport-type-heading {
    text-align: center;
    margin: 50px 0px;
}

.container-frontpage {
    text-align: center;
    margin: auto;
    display: block;
}


/*Styling på carport dimensions siden*/

.container-carportdesigner {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.container-width-length-height {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.container-tagtype-haeldning {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.container-redskabsrum-tilvalg {
    display: flex;
    justify-content: center;
}

.container-redskabsrum-dimensioner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-skitse-knap {
    display: flex;
    justify-content: center;
}

.dimensions-items {
    margin: 10px;
}


/*styling på profilsiden*/
.container-stykliste-og-skite-knapper-profil {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


@media (max-width: 475px) {
    .dimensions-items {
        margin: 3px;
    }
}

#container-good-to-knows {
    position: absolute;
}


@media (max-width: 1200px) {
    .div-around-accordion {
        width: 100%;
    }
    .container-faq {
        justify-content: center;
    }
    #info-box-faq{
        width: 100%;
    }

    #choose-carport-type-heading {
        margin: 45px 0px;
    }
}